html, body {
	font-family: 'Oswald', sans-serif;
	height: 100%;
    background: #000;	   
}
.wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
	height: 100% auto;
	overflow: hidden;    
}
.head {
    width: 100% auto;	
	height: 100px auto;
    text-align: center;
	background: #ccc;	
	margin: 0.5% 0;
}
.logo{
	
	width: 10%;
	float: left;
}
.sidebar {
	float: left;	
    width: 20%;    	
	height: 70% auto;
    text-align: center;
	background: #ccc;
	margin: 0.5% 0.5% 0.5% 0;
}
.content {
	background: #ccc;
	width: 58%;
	float: left;
	margin: 0.5%;
	height: 70% auto;
	text-align: center;	
}

.slider-container {
	position: relative;
	margin: 20px auto 0;
	width: 40%;
	height: 0;
	padding-bottom: 40%;
	border: 10px solid #F08080;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.slides img {
	width: 100%;
	height: 100%;
}

.slide_img {
	display: none;
}

#arrow_next label, #arrow_prev label {
	color: rgba(0, 0, 0, .7);
	position: absolute;
	visibility: hidden;
	cursor: pointer;
	top: 45%;
	font-size: 80px;
}

#arrow_prev label {
	left: -50px;
}

#arrow_next label {
	right: -50px;
}

.switchers {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0;
	text-align: center;
}
.switcher {
	background: rgba(0, 0, 0, .7);
	width: 15px;
	height: 15px;
	position: relative;
	top: 7px;
	margin: 0 4px;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
}

#img_1:checked ~ #first,
#img_2:checked ~ #second,
#img_3:checked ~ #third 
{
	visibility: visible;
	opacity: 1;
}

#img_1:checked ~ div #switcher1,
#img_2:checked ~ div #switcher2,
#img_3:checked ~ div #switcher3
{
	background: #F08080;
}

#img_1:checked ~ #arrow_next label:nth-child(2),
#img_2:checked ~ #arrow_next label:nth-child(3),
#img_3:checked ~ #arrow_next label:nth-child(1)
{
	visibility: visible;
}

#img_1:checked ~ #arrow_prev label:nth-child(3),
#img_2:checked ~ #arrow_prev label:nth-child(1),
#img_3:checked ~ #arrow_prev label:nth-child(2)
{
	visibility: visible;
}


img{
	width: 50%;
}
.advert {
	background: #ccc;
	width: 20%;
	float: right;
	margin: 0.5% 0 0.5% 0.5%;
	height: 70%;
    text-align: center;	
}
.footer {
	background: #ccc;
	margin: 0.5% 0;
	height: 70px;	
	float: left;
	overflow:hidden;	
	width: 100%;
	text-align: center;	
}

